body {

    margin-top: 10px;

    #main-section {

        margin-top: 10px;

        .top-div {

            margin-top: 20px;

            h1 {

                font-size: 28px;
                font-weight: 400;
            }
        }

        .mid-div {

            margin-top: 10px;
        }

        .footer-div {

            margin-top: 10px;
        }
    }
}